<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shopping_list</title>
</head>
<body>
<form>
    <h2>Add a food</h2>
    <input type="text" name="food">
    <button>Add</button>

    {% if n == 1 %}
        n equals 1
    {% elif n == 2 %}
        n equals 2
    {% else %}
        n not equals 1 or 2
    {% endif %}


    {% if n is number %}
    <ol>
    {% for x in range(1, n+1) %}
        <li>{{x ** 2}}</li>
    {% endfor %}
    {% endif %}
    </ol>
</form>
</body>
</html>